.cp{
	display: flex;
	border: 1px solid black;
    width: 90%; 
    height: 300px;
    padding: 10px;
    justify-content: center; 
    margin: auto;}

.cg{
	border: 1px dotted red;
	width: 40%;
	height: 290px;
    margin-right: 10px;
background-color: rebeccapurple;
}

.cd{
	border: 1px dashed blueviolet;
	width: 40%;
	height: 290px;
	background-color: skyblue;
}